
# PlanAhead Generated physical constraints 

NET "C" LOC = L18;
NET "CLK_GLOBAL" LOC = B8;
NET "IN_PORT[0]" LOC = G18;
NET "IN_PORT[1]" LOC = H18;
NET "IN_PORT[2]" LOC = K18;
NET "IN_PORT[3]" LOC = K17;
NET "IN_PORT[4]" LOC = L14;
NET "IN_PORT[5]" LOC = L13;
NET "IN_PORT[6]" LOC = N17;
NET "IN_PORT[7]" LOC = R17;
NET "OUT_PORT[0]" LOC = J14;
NET "OUT_PORT[1]" LOC = J15;
NET "OUT_PORT[2]" LOC = K15;
NET "OUT_PORT[3]" LOC = K14;
NET "OUT_PORT[4]" LOC = E17;
NET "OUT_PORT[5]" LOC = P15;
NET "OUT_PORT[6]" LOC = F4;
NET "OUT_PORT[7]" LOC = R4;
NET "PORT_ID[0]" LOC = F15;
NET "PORT_ID[1]" LOC = C18;
NET "PORT_ID[2]" LOC = H17;
NET "PORT_ID[3]" LOC = F17;
NET "PORT_ID[4]" LOC = C17;
NET "PORT_ID[5]" LOC = H14;
NET "PORT_ID[6]" LOC = J17;
NET "PORT_ID[7]" LOC = G14;
NET "READ_STROBE" LOC = D17;
NET "RESET" LOC = H13;
NET "WRITE_STROBE" LOC = D16;
NET "Z" LOC = F18;
